<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entre em contato!</title>
    <link rel="stylesheet" type="text/css" href="/css/contato.css" />
  </head>
  <body>
    <a href="/"><button>Voltar à pagina inicial</button></a>
    <h1>Entre em contato conosco!</h1>
    <form action="/contato-recebido" method="post">
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome" required />
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" required />
      <label for="assunto">Assunto</label>
      <input type="text" name="assunto" id="assunto" required />
      <label for="mensagem">Mensagem</label>
      <input name="mensagem" id="mensagem" required />
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
