<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevBurguer</title>
    <link rel="stylesheet" type="text/css" href="/css/inicio.css" />
  </head>
  <body>
    <h1 class="mainTitle">Bem-vinde ao DevBurguer</h1>
    <a href="/contato"><button>Ir para a página de contato</button></a>
    <a href="/api/lanches"><button>Verificar a API de lanches</button></a>
    <h2>Confira o nosso cardápio recheado de delícias:</h2>
    <div id="lista-lanches"></div>
    <h2>Tem alguma sugestão? Estamos abertos a te ouvir!</h2>
    <form action="/sugestao" method="get">
      <label for="nome">Nome:</label>
      <input
        id="nome"
        name="nome"
        placeholder="Digite o nome da sua delícia"
        type="text"
        required
      />
      <label for="ingredientes">Ingredientes:</label>
      <input
        placeholder="Digite aqui os ingredintes"
        id="ingredientes"
        name="ingredientes"
        type="text"
        required
      />
      <button type="submit">Enviar</button>
    </form>

    <script>
      fetch("/api/lanches")
        .then((res) => res.json())
        .then((data) => {
          console.log(data);
          const lista = document.getElementById("lista-lanches");
          data.forEach((item) => {
            const div = document.createElement("div");
            div.className = "lanche";
            div.innerHTML = `<h3>${item.nome}</h3><p>Ingredientes: ${item.ingredientes}</p>`;
            lista.appendChild(div);
          });
        });
    </script>
  </body>
</html>
